PLUGIN='firefly'
BACKEND='dummy'
# NETSTAT_EXPERIMENT='<exp>'
# NETSTAT_ACTIVITY='<act>'
# NETSTAT_INTERNAL_NETWORKS=('192.168.0.0/16', )
FLOW_MAP_API='https://www.scitags.org/api.json'
# IP_DISCOVERY_ENABLED = False
UDP_FIREFLY_DST='etf-cs9.cern.ch'
FIREFLY_LISTENER_PORT=9999
# UDP_FIREFLY_IP4_SRC=''
# UDP_FIREFLY_IP6_SRC=''
