.tint-blue {
    color: #0A84FF;
}
.tint-green {
    color: #30D158;
}
.tint-indigo {
    color: #6b67f3;
}
.tint-orange {
    color: #FF9F0A;
}
.tint-pink {
    color: #FF375F;
}
.tint-purple {
    color: #BF5AF2;
}
.tint-red {
    color: #FF453A;
}
.tint-teal {
    color: #64D2FF;
}
.tint-yellow {
    color: #FFD60A;
}

.shade-000 {
    color: #FFFFFF;
}
.shade-005 {
    color: #F4F4F4;
}
.shade-010 {
    color: #E8E8E8;
}
.shade-015 {
    color: #DDDDDD;
}
.shade-020 {
    color: #D2D2D2;
}
.shade-025 {
    color: #C7C7C7;
}
.shade-030 {
    color: #BCBCBC;
}
.shade-035 {
    color: #B0B0B0;
}
.shade-040 {
    color: #A5A5A5;
}
.shade-045 {
    color: #9A9A9A;
}
.shade-050 {
    color: #8E8E8E;
}
.shade-055 {
    color: #838383;
}
.shade-060 {
    color: #787878;
}
.shade-065 {
    color: #6D6D6D;
}
.shade-070 {
    color: #626262;
}
.shade-075 {
    color: #565656;
}
.shade-080 {
    color: #4B4B4B;
}
.shade-085 {
    color: #404040;
}
.shade-090 {
    color: #343434;
}
.shade-095 {
    color: #292929;
}
.shade-100 {
    color: #1E1E1E;
}
