.tint-blue {
    color: #007AFF;
}
.tint-green {
    color: #34C759;
}
.tint-indigo {
    color: #5856D6;
}
.tint-orange {
    color: #FF9500;
}
.tint-pink {
    color: #FF2D55;
}
.tint-purple {
    color: #AF52DE;
}
.tint-red {
    color: #FF3B30;
}
.tint-teal {
    color: #5AC8FA;
}
.tint-yellow {
    color: #DEAE00;
}

.shade-000 {
    color: #000000;
}
.shade-005 {
    color: #0D0D0D;
}
.shade-010 {
    color: #1A1A1A;
}
.shade-015 {
    color: #262626;
}
.shade-020 {
    color: #333333;
}
.shade-025 {
    color: #404040;
}
.shade-030 {
    color: #4C4C4C;
}
.shade-035 {
    color: #595959;
}
.shade-040 {
    color: #666666;
}
.shade-045 {
    color: #737373;
}
.shade-050 {
    color: #808080;
}
.shade-055 {
    color: #8C8C8C;
}
.shade-060 {
    color: #999999;
}
.shade-065 {
    color: #A6A6A6;
}
.shade-070 {
    color: #B2B2B2;
}
.shade-075 {
    color: #BFBFBF;
}
.shade-080 {
    color: #CCCCCC;
}
.shade-085 {
    color: #D9D9D9;
}
.shade-090 {
    color: #E6E6E6;
}
.shade-095 {
    color: #F2F2F2;
}
.shade-100 {
    color: #FFFFFF;
}
