[tool.poetry]
name = "Cipherbcryptors"
version = "1.3.2"
description = "Encode string data by zlib, base64 invert etc."
authors = ["Isaac Florentine"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[project.urls]
Homepage = "https://github.com/Katana-Crypto"
Issues = "https://github.com/pypa/Katana-Crypto/issues"